* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    background-color: #171717;
}

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}

a .header-logo{
    font-family: 'Nunito', sans-serif;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

a, span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.green {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #d0006f;
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

ul {
    list-style-type: none;
}

.social-link a i {
    transition: all 0.2s ease;
}

.social-link a i:hover {
    color: #d0006f;
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.button {
    --border-right: 3.5px;
    --text-stroke-color:white;
    --animation-color: #d0006f;
    --fs-size: 1.2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.main-container {
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
    max-width: 1600px;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 8vh;
}

section .hyperlink {
    color: #d0006f;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease;
}

section .hyperlink:hover {
    color: #d0006f;
}

.section-description {
    margin: 50px auto 0 auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}

.page-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

.social-media-list {
    margin: 50px auto 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.social-media-item {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px 0;
}

.social-media-item:hover {
    color: #d0006f;
}

.social-media-item i {
    margin-right: 15px;
    font-size: 1.5em;
}

.social-media-item:not(:last-child) {
    margin-bottom: 10px;
}
.works{
    color: #d0006f;
}

/* .email-form {
    display : flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form {
    display : flex;
    flex-direction:column;
    padding: 2vw, 4vw;
    width : 100%;
    max-width : 600px;
    border-radius : 10px;
}

.email-form h3 {
    font-weight: 700;
    margin: 5px;
    letter-spacing: 0.1em;
}

form input, form textarea {
    border : 0;
    margin : 10px 0;
    color: #171717;
    padding : 18px;
    outline : none;
    background : #f5f5f5;
    font-size: 16px;
    border-radius: 10px ;
} */

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-button {
    padding : 10px;
    width: 7em;
    align-items: center;
    background : #d0006f;
    color : #FFFFFF;
    font-size: 18px;
    border : 0;
    outline : none;
    cursor : pointer;
    border-radius: 10px;
    margin: 10px 0;
}

.bottom-heading{
    padding: 8vh 0 4vh 0;
    font-family: "Gloria Hallelujah", cursive;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2em;
    }

    .section-description {
        margin: 50px 10% 0 10%;
    }
}

@media only screen and (min-width: 1100px) {
    .section-description {
        margin: 50px auto 0 auto;
    }
}

.updates-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
}

.update-item {
    display: grid;
    place-items: center;
    padding: 0 2px;
}

.cursive-hand {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 1.5em;
}

.update-num {
    font-weight: 600;
    font-size: 2em;
}

.update-num:hover {
    color: #d0006f;
}

@media only screen and (max-width: 1100px) {
    .cursive-hand {
        font-family: "Gloria Hallelujah", cursive;
        font-size: 20px;
    }
}