* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    background-color: #242424;
}

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}

a .header-logo{
    font-family: 'Nunito', sans-serif;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

a, span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.green {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #7EB77F;
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

ul {
    list-style-type: none;
}

.social-link a i {
    transition: all 0.2s ease;
}

.social-link a i:hover {
    color: #7EB77F;
}

.main-container {
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
    max-width: 1600px;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 8vh;
}

section .hyperlink {
    color: #7EB77F;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease;
}

section .hyperlink:hover {
    color: #7EB77F;
}

.section-description {
    margin: 50px auto 0 auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}

.page-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2em;
    }
}