/*block letters*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto&display=swap');
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
/*chill fonts*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Poppins&family=Roboto&display=swap');

*{
    padding: 0;
	margin: 0;
    text-decoration: none;
    max-width: 100%;
    background-color: #1f1f1f;
}

header
{
  display:flex;
  justify-content:space-between;
  font-family: 'Bebas Neue', cursive;
}
header img
{
    max-width: 140px;
     max-height: 140px;
    padding:1% 0 0 5%;
    cursor: pointer;
}
header li
{
    display:inline-block;
    padding:50px 50px 0 0;
    list-style: none;
}
header li a
{
    color: white;
    font-size: 45px;
    
}
header li a:hover
{
    color:aquamarine;
}