@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=Babylonica&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    max-width: 100%;
    animation: bgcolor infinite 1s;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 200px;
}

h1 {
    font-family: 'Shalimar', cursive;
    font-size: 90px;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}

.social-icons i {
    color: black;
}

.social-icons a {
    padding: 20px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes bgcolor {
    0% {
        background: white;
    }

    50% {
        background: black;
    }

    100% {
        background: white;
    }
}